
@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #030712;
  background-image:
    radial-gradient(circle at 25% 25%, rgba(0, 172, 168, 0.3), transparent 30%),
    radial-gradient(circle at 75% 75%, rgba(0, 172, 168, 0.2), transparent 30%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}
